<?xml version="1.0"?>
<config>
    <modules>
        <Authorizedby_Trustseal>
            <version>1.0.0</version>
        </Authorizedby_Trustseal>
    </modules>
    <global>
        <models>
            <trustseal>
                <class>Authorizedby_Trustseal_Model</class>
            </trustseal>
        </models>
        <blocks>
            <trustseal>
                <class>Authorizedby_Trustseal_Block</class>
            </trustseal>
        </blocks>
        <helpers>
            <trustseal>
                <class>Authorizedby_Trustseal_Helper</class>
            </trustseal>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <authorizedby_trustseal>
                    <file>authorizedby/trustseal.xml</file>
                </authorizedby_trustseal>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <trustseal>
                                            <title>authorized.by</title>
                                        </trustseal>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Authorizedby_Trustseal>
                    <files>
                        <default>Authorizedby_Trustseal.csv</default>
                    </files>
                </Authorizedby_Trustseal>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <trustseal>
            <config>
                <activate>1</activate>
                <position>right-two-thirds</position>
                <product_verifictation_attribute>sku</product_verifictation_attribute>
            </config>
        </trustseal>
    </default>
</config>